* {
    transition: all 150ms;
    /* border: 1px solid red; */

    a {
        color: black;
    }

    a:hover {
        color: gray;
    }
}

body {
    height: 100vh;
    background-color: gainsboro;
}

#root {
    height: 100%;
}

button {
    padding: 2px 16px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: gainsboro;
}

button.sm {
    padding: 2px 4px;
    font-size: small;
}

button:hover {
    background-color: whitesmoke;
}

h2 {
    flex-grow: 1;
    font-size: 2.5em;
    text-align: end;
    /* font-weight: bold; */
}

img {
    object-fit: cover;
}

.login-page {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-card {
    height: min-content;
    width: 300px;
    padding: 16px;
    border: 0px solid black;
    border-radius: 8px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.employee-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    border: 1px solid gray;
    background-color: whitesmoke;
    border-radius: 8px;

    img {
        border: 1px solid gray;
        border-radius: 50%;
        aspect-ratio: 1;
        padding: 4px;
        height: 300px;
    }

    .emp-info {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        gap: 8px;

        .emp-field {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
        }

        .button-bar {
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 16px;
        }
    }
}

.department-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;

    .department-info {
        border: 1px solid gray;
        border-radius: 9px;
        background-color: whitesmoke;
        padding: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .button-bar {
            display: flex;
            flex-direction: row;
            align-self: stretch;
            gap: 8px;
            justify-content: end;
            align-items: center;
        }

        .dept-field {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
        }
    }
}